{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index .Site.Data .Site.Language.Lang }}



<!-- Call to action ---
{{ if $data.pricing.cta.enable }}
{{ partial "DataScienceProcess.html" . }}
{{ end }}
//Call to action -->

<!-- Call to action ---
<iframe src="DataScienceProcess.html" name="sidebar" width="1280" height="800"></iframe>

//Call to action -->

<!-- Call to action --->

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="DataScienceProcess.html" allowfullscreen></iframe>
</div>

<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="ggplotlyBubblechart.html" allowfullscreen></iframe>
</div>

<!-- Call to action -->



<!-- Call to action ---
{{ if $data.pricing.cta.enable }}
{{ partial "ggplotlyBubblechart.html" . }}
{{ end }}
-- Call to action --->
{{ end }}